@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC&family=Roboto+Mono:wght@300&display=swap");
:root {
  --body-color: #FFFFFF;
  --transparent: transparent;
  --wraper-color: #0F1124;
  --border-color: #293F80;
  --left-area-color: linear-gradient( 325deg, rgba(26, 29, 58, 1) 50%, rgba(33, 39, 82, 1) 50%);
  --first-font-color: white;
  --secondary-font-color: #adadad;
  --active-color: #5E17EB;
  --btn-color: #37B3F3;
  --right-area-upper: linear-gradient( 325deg, rgba(26, 29, 58, 1) 50%, rgba(33, 39, 82, 1) 50%);
  --green-dark: #343a40;
  --green-light: #e6f1ed;
  --theme-bg-color: rgba(16 18 27 / 40%);
}

body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Noto Sans SC', sans-serif;
  color: #FFFFFF;
  background: var(--left-area-color);
}

h1 {
  width: 100%;
  white-space: nowrap;
  font-size: 2em;
  color: #FFFFFF;
}

i {
  color: chartreuse;
}

em {
  text-transform: uppercase;
  color: var(--btn-color);
  font-style: bold;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-size: cover;
  max-height: 100vh;
}

.center {
  background: var(--theme-bg-color);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  border-radius: 30px;
  min-height: 480px;
  padding: 30px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.text-friend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  z-index: 10000;
  position: relative;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  max-width: 310px;
  font-weight: 400;
  color: #ccc;
  text-align: left;
  margin-top: -16px;
}

.goto {
  background-color: var(--btn-color);
  color: white;
  border-radius: 5px;
  border-style: none;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
  display: block;
  margin-top: auto;
  cursor: pointer;
}

.goto:hover {
  background-image: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

@media screen and (max-width: 875px) {
  h1 {
    white-space: normal;
  }
  .container {
    display: block;
  }
  .center {
    display: block;
    text-align: center;
  }
  .title {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  .text-friend {
    display: block;
  }
  img {
    width: 200px;
  }
}
/*# sourceMappingURL=friendpage.css.map */